@model IEnumerable<MoviesWebSite.Model.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content(item._Image.ImagePath)" style="width:220px;height:190px" class="img-fluid img-thumbnail" alt="...">
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <tr><td colspan="2"><h2>@item._Name</h2></td></tr>
                <tr><td colspan="2">@item._Plot</td></tr>
                <tr><td colspan="2">Produer : @item._ProducerName</td></tr>
                <tr><td>Actor :@foreach (var actor in item._Actors)
    {<span><strong>&nbsp;&nbsp;@actor.Value&nbsp;&nbsp;</strong></span>}
</td><td>Year of Release : @item._YearOfRelease</td></tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item._Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item._Id })
                </td>
            </tr>
            </table>
        </div>
    </div>
}
